.collection-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    column-gap: 20px;
    row-gap: 20px;

    li {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
        background-color: rgb(240, 231, 231);
        border: 2px solid rgb(215, 202, 202);
        border-radius: 10px;
    }
}