@use 'sass:color';
// recover values from default files
@forward '_default/background_default'; // to forward default values to downstream imports
@use '_default/background_default' as *; // to use default values directly in this file
@use 'colors' as c;

$background-html :  radial-gradient(c.$color-bg, rgb(175, 175, 175)) ;
$background-header :  radial-gradient(c.$color-bg, rgb(184, 187, 189));
$background-footer :  radial-gradient(c.$color-bg, rgb(183, 181, 181));