@use 'sass:color';


// ======= COLOR PALETTE
$color-black: black;
$color-white: white;
$color-primary: #EB232A;
$color-secondary: #0083FF;
$color-primary-dark: rgba($color-primary, 0.88);
// DARK MODE COLORS
$color-darkmode-text: #cacaca;
$color-darkmode-bg: #2c0519;


$color-secondary-_desaturated: color.scale($color-secondary, $saturation: -50%);



// ======= SEMANTIC COLORS

$color-success: #c6538c;
$color-warning: #c6538c;
$color-danger: #c6538c;
$color-info: #c6538c;



// ======= COMPONENT COLORS
// HEADER
$color_header_bg: color.scale(color.mix($color-primary, $color-secondary, 50%), $saturation: -50%);

// BODY
$color_body_bg: color.scale(color.mix($color-primary, $color-secondary, 50%), $saturation: -50%);

// FOOTER
$color_footer_bg: color.scale(color.mix($color-primary, $color-secondary, 50%), $saturation: -50%);