@use 'sass:color';


// ======= COLOR PALETTE
$color-black: black;
$color-white: white;
$color-primary: #EB232A;
$color-secondary: #0083FF;
$color-primary-dark: rgba($color-primary, 0.88);
$color-dark-mode: #0d0950;


$color-secondary-_desaturated: color.scale($color-secondary, $saturation:-50%);



// ======= SEMANTIC COLORS

$color-success: #c6538c;
$color-warning: #c6538c;
$color-danger: #c6538c;
$color-info: #c6538c;




// ======= COMPONENT COLORS
// HEADER
$color_bg:  color.scale(color.mix($color-primary, $color-secondary, 50%), $saturation: -50%);
$belt-stripe-color: $color-white;
