@use 'sass:color';
// recover values from default files
@forward 'default/dimensions_default'; // to forward default values to downstream imports
@use 'default/dimensions_default' as *; // to use default values directly in this file

// +++++++++++++++++++ ADJUST YOUR STYLE BY MODIFYING THE VARIABLES BELOW

// HEADER
$header-height-desktop : 10vh;
$header__center-width: 65%;
$header__panel-width: (
  100%-$header__center-width) * 0.5;

// BODY
$body-width: 80vw;

// FOOTER
$footer-height-desktop : 10vh;