@use 'sass:color';
@use './mixins' as *;
@use './variables' as *;


// width of all components
$content_width: 70%;

// Adjust width of break to fit rest of components
$break_width_adj: 0.9;

// letter spacing in title
$title_letter_spacing: 0.2rem;







$fig-padding: 2vw;
.fig,
.vid {
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: $fig-padding;
    border-radius: 1vw;

    img {
        max-width: 100%;
        max-height: 100%;
        cursor: zoom-in;
        transition: 0.5s;

        &:hover {
            transform: scale(1.01);
        }
    }


    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
        border: none;
        border-radius: 10px;
    }


    figcaption {
        font-weight: 500;
        // text-transform: uppercase;
        // letter-spacing: 2px;
        font-size: 0.8em;
        padding: 1em;
        text-align: center;
        color: #fff;
        background: color.adjust($gray, $lightness: -10%);
        position: relative;

        .numbering {}
    }
}


.fig_left {
    float: left;
    margin: 0 1em .5em 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.fig_right {
    float: right;
    margin: 0 0 .5em 1em;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.fig_right img,
.fig_left img {
    max-width: 400px !important;
    /* Adjust to suit your needs */
}

.fig_gif{
    position: relative;
        &:after{
            content: "hover to animate";
            margin: $fig-padding*0.5 0;
            position: absolute;
            width: fit-content;
            padding: 5px 15px;
            text-align: center;
            height: fit-content;
            top: 0%;
            left: 50%;
            transform: translate(-50%,0%);
            background-color: color.adjust($gray, $lightness: 50%);
            box-shadow: 0 0 10px black;
            transition: 0.5s;
            animation: animateMessageGIF 0.5s alternate infinite;

            @keyframes animateMessageGIF {
                from{
                    color: black;
                }
                to{
                    color: rgba(0, 0, 0, 0.65)
                }

            }
        }


        &:hover::after{
            opacity: 0.1;
        }


}

.fig_group {
    width: 90%;
    >.fig_wrapper {
        display: flex;
        gap:1%;

        .fig_sub {}
    }
    .fig_sub{
        padding: 0 0 1.7%;
    }
}

.fig.no_caption figcaption {
    display: none;
}

.img_grid {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    width: 100%;
    height: fit-content;
    // margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;
    grid-auto-rows: minmax(100px, auto);

    .fig{
        padding: 0;
        margin: 0;
        width: 100%;
        background: none;
    }
}





