// ============ SCSS variables
$fullscreen_animation_duration: 1s;
$fullscreen_image_transition: 0.3s;
$fullscreen_image_height: 80%;
$fullscreen_extras_border_radius: 8px;
$padding-caption: 3%; // as percentage