@use '../variables/colors' as c;
@use '../variables/dimensions' as d;
@use 'sass:color';

$margin-top-description: 50px;

// card element heights should add up to 100%
$header-height: 13%;
$body-height: 75%;
$footer-height: 12%;

.collection-card-list {
    width: 100%;
    position: relative;
    z-index: 0;
    display: grid;
    padding: 0pt;
    // grid-template-columns: 1fr 1fr; // two columns
    grid-template-columns: 1fr; // one column
    place-items: center; // shorthand for align-items + justify-items
    list-style-type: none;
    column-gap: 20px;
    row-gap: 50px;

    li.collection-item {
        position: relative;
        display: flex;
        flex-direction: column;
        place-items: center;
        width: 100%;
        height: auto;
        height: 50vh;
        // aspect-ratio: 2 / 1;
        border: 2px solid rgb(215, 202, 202);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);

        .collection-item__header {
            display: flex;
            align-items: center;
            position: relative;
            padding: 5px 50px;
            width: 100%;
            height: $header-height;

            &>a {
                text-decoration: none;
                color: c.$color-text;
            }

            .collection-item__header__title {
                font-size: larger;
                font-weight: bolder;
            }

            .collection-item__header__subtitle {
                font-size: larger;
                font-weight: normal;
                opacity: 0.5;
            }

            .collection-item__header__link-group {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);

                a {
                    opacity: 0.3;
                    transition: 0.3s ease-in-out;
                    text-decoration: none;
                    color: c.$color-text;
                    margin-left: 20px;
                    font-size: larger;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }

        .collection-item__body {
            place-items: center;
            display: flex;
            position: relative;
            height: $body-height;
            width: 100%;
            background-color: color.scale(c.$color-text, $alpha: -95%);
            ;

            .collection-item__body__left {
                height: 100%;
                padding: $margin-top-description 50px 10px 50px;
                z-index: 1;
                min-width: 66%;
                width: auto;
                max-width: 100%;

                .collection-item__body__description {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 60%;
                    font-size: medium;
                    text-align: justify;
                    overflow: auto;
                    padding-right: 10px;

                    /* Make the scrollbar background transparent */
                    &::-webkit-scrollbar {
                        width: 10px;
                        /* or height: 12px for horizontal scrollbar */
                        background-color: transparent;
                    }

                    /* Optional: Style the thumb */
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(100, 100, 100, 0.5);
                        /* semi-transparent thumb */
                        border-radius: 10px;
                    }

                    /* Optional: Track (still transparent if you want) */
                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                }



            }


            // CARD IMAGE
            .collection-item__body__right {
                min-width: 33%;

                .collection-item__body__image-container {
                    z-index: 1;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .fig {
                        max-width: 70%;
                        height: auto; // auto height preserves aspect ratio
                    }
                }
            }

            // CARD BG IMAGE
            .collection-item__body__bg-image-container {
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img.collection-item__body__bg-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    //display: none;
                    width: 100%;
                    height: auto; // auto height preserves aspect ratio
                    transform: translate(-50%, -50%);
                    position: relative;
                    opacity: 0.1; // default opacity, may be overridden in collection
                }
            }

        }


    }
}



// ==============  Media Query for SMALLER screens
@media screen and (max-width: d.$mobile-screen-width-threshold) {
    li.collection-item {
        .collection-item__body .collection-item__body__left .tags-container {
            display: none;
            // background-color: red !important;
        }

        .collection-item__footer {
            display: none;

        }
    }
}



// ==============  Media Query for LARGER screens
@media screen and (min-width: d.$mobile-screen-width-threshold) {
    li.collection-item {
        .collection-item__body .collection-item__body__left .tags-container {
            display: flex;
            align-items: center;
            margin-top: 30px;

            span {
                font-weight: bold;
                color: c.$color-text;
                padding-right: 10px;
            }

            .tag-list {
                display: flex;
                gap: 10px;
                width: fit-content;
                justify-content: space-evenly;
                list-style-type: none;
                padding: 0px;

                .tag-list__item {
                    a {
                        border: 1px solid c.$color-text;
                        background-color: c.$color-bg;
                        min-width: 60px;
                        text-align: center;
                        display: block;
                        border-radius: 7px;
                        padding: 4px;
                        text-decoration: none;
                        color: c.$color-text;
                    }
                }
            }
        }

        .collection-item__footer {
            width: 100%;
            height: $footer-height;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                width: 33%;
                margin: 0px;
                padding: 9px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                gap: 20px;

                a {
                    text-decoration: none;
                    color: c.$color-text;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: color.change(c.$color-text, $lightness: 0%);
                    }
                }
            }

            .field-list {
                opacity: 0.3;
                height: 70%;
                border-left: 1px solid c.$color-text;
            }
        }
    }
}