@use '../../variables/colors' as c;
@use '../../variables/dimensions' as d;
@use 'sass:color';

/* ------------------------------------ */
/*------------- TIME LINE  -------------*/

$timeline-line-thickness: 25px;
$timeline-buttom-diameter: 25px;
$timeline-height: 200px;
$balloon-gap: -20px;
$balloon-border-radius: 30px;
$color-timeline: rgb(70, 70, 70);
$color-balloon-bg: white;
$background-highlight: linear-gradient(rgba(255, 255, 155, 0), rgb(255, 255, 155, 1));

// HORIZONTAL MODE
$height-balloon--horizontal-mode: calc($timeline-height/2 - $timeline-buttom-diameter*1.5);
$max-height-balloon--horizontal-mode: calc($timeline-height);
$width-balloon: 300px;

/* !!!! transitions!!!! */
$transition: 0.25s;
$delay-transition: 0.03s;


.timeline {
  color: $color-timeline;
  position: relative;
  list-style: none;
  display: flex;
  // visibility: hidden;
  width: 100%;
  flex-wrap: nowrap;
  margin: 2% auto;
  padding: 0;
  box-sizing: border-box;
  /* set here the height of the timeline */
  height: $timeline-height;
  // gap:50px;

  // LINE
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: $color-timeline;
  }

  // ARROW
  &:after {
    /* content: "▶"; */
    content: "";
    color: $color-timeline;
    font-size: 1.2rem;
    position: absolute;
    z-index: -1;
    /* top: calc(50% -3px); */
    width: 0px;
    height: 0px;
    border: $timeline-line-thickness solid transparent;
  }

  .balloon {
    position: relative;
    border: 1px $color-timeline solid;
    border-radius: $balloon-border-radius;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    color: $color-timeline;
    background: $color-balloon-bg;
    opacity: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    $balloon-padding: 10px;
    .balloon-content {
      position: relative;
      width: 100%;
      height: 100%;
      transition: calc($transition * 2);

      .balloon-inner {
        padding: $balloon-padding;
        position: relative;
        overflow: hidden;
        z-index: 2;
        height: 100%;
        transition: height calc($transition * 2);
        border-radius: $balloon-border-radius;
        background: $color-balloon-bg;
      }

      .balloon-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc($height-balloon--horizontal-mode - $balloon-padding*2);
        white-space: nowrap;
          .balloon-title a{
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
            color: c.$color-primary;
          }
      }
      .balloon-extra {
        visibility: hidden;
        height: calc($max-height-balloon--horizontal-mode - $height-balloon--horizontal-mode - $balloon-padding*2);
      }
    }
  }

  // DOTS OVER TIMELINE
  .balloon:before {
    content: "";
    position: absolute;
    z-index: -1;
    border: 3px rgb(131, 131, 131) solid;
    width: $timeline-buttom-diameter;
    height: $timeline-buttom-diameter;
    border-radius: 50%;
    background: $color-timeline;
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $color-timeline;
    opacity: 1;
    transition: $transition;
    transition-delay: $delay-transition;
  }

  // DOTS OVER TIMELINE ON HOVER
  .balloon_revealed:hover::before {
    /* animation: fade-out 0.3s;
    animation-fill-mode: forwards; */
    opacity: 0;
    transform: scale(0);
    transition-delay: 0s;
  }

  // BALLOON ARROW
  .balloon-content:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 20px;
    height: 20px;
    background: $color-balloon-bg;
    transition-delay: 0.5s;
  }

  // BALLOON ARROW ON HOVER
  .balloon_revealed:hover div::before {
    opacity: 0;
    transform: scale(0.1);
    transition-delay: 0s;
  }

  // --------------------------- HORIZONTAL ORIENTATION
  &.horizontal {
    flex-direction: row;
    justify-content: space-evenly;


    // LINE
    &:before {
      top: calc(50%);
      transform: translateY(-50%);
      width: 100%;
      height: $timeline-line-thickness;
    }

    // ARROW
    &:after {
      top: calc(50%);
      transform: translate(50%, -50%);
      right: 0%;
      border-left-color: $color-timeline;
      border-right-width: 0px;
    }

    // BALLOON
    .balloon {
      align-self: flex-start;
      height: $height-balloon--horizontal-mode;
      margin: 0 calc($balloon-gap/2);

      &:nth-child(2n) {
        align-self: flex-end;
      }

      .balloon-content {
        max-height: $height-balloon--horizontal-mode;
      }
    }

    // DOTS OVER TIMELINE
    .balloon {
      &:before {
        left: 50%;
      }

      &:nth-child(2n - 1):before {
        top: calc($timeline-height/2);
        transform: translate(-50%, calc(-50%));
      }

      &:nth-child(2n):before {
        bottom: calc($timeline-height/2);
        transform: translate(-50%, calc(50%));
      }
    }

    // BALLOON ARROW
    .balloon {
      .balloon-content:before {
        transform: translate(-50%, -50%) rotateZ(45deg);
        left: 50%;
      }

      /* position of the event arrow in odd position */
      &:nth-child(2n - 1) .balloon-content:before {
        top: 100%;
        border-right: 1px $color-timeline solid;
        border-bottom: 1px $color-timeline solid;
      }

      /* position of the event arrow in even position */
      &:nth-child(2n) .balloon-content:before {
        top: 0%;
        border-left: 1px $color-timeline solid;
        border-top: 1px $color-timeline solid;
      }
    }



    // ONCE BALLOON IS FULLY LOADED
    .balloon_revealed {
      &:hover {
        height: 100%;
        max-height: $max-height-balloon--horizontal-mode;
        transition: height $transition ease-in-out;

        .balloon-content {
          height: 100%;
          max-height: $max-height-balloon--horizontal-mode;
        }
      }
    }
  }

  // ||||||||||||||||||||||||||| VERTICAL ORIENTATION
  &.vertical {
    flex-direction: column;
    height: 1000px;
    width: 50%;
    background-color: red;

    // LINE
    &:before {
      left: calc(0%);
      transform: translateX(-50%);
      height: 100%;
      width: $timeline-line-thickness;
    }

    // ARROW
    &:after {
      left: calc(0%);
      transform: translate(-50%, -50%);
      right: 0%;
      border-bottom-color: $color-timeline;
      border-top-width: 0px;
    }

    // BALLOON
    .balloon {
      height: $width-balloon;
      min-height: 100px;
      align-self: flex-start;
      margin-left: calc($timeline-buttom-diameter * 1.5);
    }

    // DOTS OVER TIMELINE
    .balloon:before {
      left: 0%;
      // margin-top: calc($width-balloon/2);
      transform: translate(-50%, calc(0%));
    }

    // BALLOON ARROW
    .balloon-content:before {
      top: 50%;
      transform: translate(-100%, 0px) rotateZ(-45deg);
      border-left: 1px $color-timeline solid;
      border-top: 1px $color-timeline solid;
    }
  }

}











/* -------- applied with TS:------------ */
.timeline_reveal {
  animation: extend 2s;
  visibility: visible;
  pointer-events: none;
}

.balloon_reveal {
  animation: inflate 1s;
  animation-fill-mode: forwards;
}

.timeline .balloon_revealed {
  opacity: 1;
  transition: height $transition ease-in-out;
  animation: pop 0.7s !important;
  z-index: 0;
  pointer-events: all;

  .balloon-content {
    animation: pop-text 0.7s;

    // balloon arrow
    &:before {
      animation: pop 0.7s;
      z-index: 2;
    }
  }

  &:hover {
    cursor: pointer;
    z-index: 3;
    color: #fff;
    background: $color-timeline;

    .balloon-inner {
      background: $color-timeline;
    }

    opacity: 1;

    .balloon-main{
      .balloon-title a{
        color:  c.$color-white;
        text-shadow: 0px 0px 2px c.$color-secondary;
      }
    }
    .balloon-extra {
      visibility: visible;
      animation: fade-in-text 2s;
      animation-fill-mode: forwards;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: calc($height-balloon--horizontal-mode/5);
      /* transform:translateY( - $height-balloon--horizontal-mode) */
    }
  }
}








@keyframes extend {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}


@keyframes inflate {
  0% {
    opacity: 0;
    height: calc($height-balloon--horizontal-mode*0.6);
  }

  100% {
    opacity: 1;
    height: $height-balloon--horizontal-mode;
  }
}


@keyframes pop {
  0% {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 1);
  }

  50% {
    /* background-color: rgb(255, 255, 155, 1); */
    background: $background-highlight;
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
  }

  100% {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 1);
  }
}

@keyframes pop-text {
  0% {
    /* font-size: normal; */
    transform: scale(1);
  }

  50% {
    /* font-size: xx-large; */
    transform: scale(1.05);
  }

  100% {
    /* font-size: normal; */
    transform: scale(1);
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}