// HEADER
$header-height-desktop : 10vh;
$header__center-width: 65%;
$header__panel-width: (
  100%-$header__center-width) * 0.5;

// BODY
$body-width-desktop: 80vw;

// FOOTER
$footer-height-desktop : 10vh;