@use 'sass:color';
// @use 'timetable/timetable';
@use 'variables/colors' as c;
@use 'variables/dimensions' as d;

// DARK MODE


html.dark{
  background-color: red !important;
  background: linear-gradient(0.25turn, c.$color_bg, c.$color-dark-mode d.$belt-panel-width*1 (100% - d.$belt-panel-width*1), c.$color_bg);

}

.dark.page-container{
  background-color: c.$color-dark-mode !important;
  color: c.$color-white;
}

.dark .nav-links a {
    color: c.$color-white;
}