// SCSS MODULES
@use 'sass:color';
// VARIABLES
@use 'variables/colors' as c;
@use 'variables/dimensions' as d;
// PAGES
@use 'home/_home';
@use 'about/_about';
// OTHERS  
@use 'dark_mode';
@use 'tooltip';

html {
  // background: linear-gradient(0.25turn, c.$color_bg, c.$color-white d.$header__panel-width*1 (100% - d.$header__panel-width*1), c.$color_bg);
  background: c.$color_body_bg;
  font-family: serif;
  color: c.$color-text;
}

body {
  margin: 0 auto;
  width: 100vw;
  // // max-width: 80ch;
  padding: 0rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.page-container {
  padding: 0.75rem;
  width: d.$body-width-mobile;
  margin: 0 auto;
  min-height: 100vh - d.$header-height-desktop; //- d.$footer-height-desktop;
  background-color: c.$color_body_bg;

  .page-titles {
    padding-bottom: 1rem;
  }
}



* {
  box-sizing: border-box;
}


h1 {
  color: c.$color-text;
}


// ==============  Media Query for SMALLER screens
@media screen and (max-width: d.$mobile-screen-width-threshold) {
  h1 {

    margin: 0;
    font-size: 1.5rem;
  }

  h2 {
    margin: 0;
    font-size: 1.05rem;
  }
}

// ==============  Media Query for LARGER screens
@media screen and (min-width: d.$mobile-screen-width-threshold) {
  h1 {
    margin: 0;
    padding-top: 0px;
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .page-container {
    padding: calc(d.$header-height-desktop*1.3) 4rem 2rem;
    width: d.$body-width-desktop;
    margin: 0 auto 0;
    min-height: 100vh; //- d.$footer-height-desktop;
    background-color: c.$color_body_bg;
  }
}