// style for home page (index.astro)
@use '../variables/colors' as c;
@use '../variables/dimensions' as d;
@use 'sass:color';

.home-intro {
    // font-size: d.$font-size-large;
    margin-top: 20px;

    a {
        color: c.$color-secondary;
        font-weight: bolder;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.home-collections-wrapper{
    margin-top: 50px;
    h2{
        color: c.$color-primary;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}

.home-collections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .collection-container {
        border: 1px solid color.adjust(c.$color-primary, $alpha: -0.8);
        border-radius: 6px;
        background-color: color.adjust(c.$color-bg, $lightness: +10%);
        padding: 20px 20px 10px;
        min-width: 23%;
        margin: 1%;

        h3 {
            margin: 0px;
            padding: 0px;
            a{
                text-decoration: none;
            }

            .collection-title {
                font-weight: bolder;
                text-transform: capitalize;
                color: c.$color-primary;
            }

            .collection-item-count {
                font-weight: normal;
                color: c.$color-primary;
                opacity: 0.4;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            a {
                text-decoration: none;
                color: c.$color-secondary;
                transition: all 0.2s ease-in-out;

                &:hover {
                    // text-decoration: underline;
                    text-shadow: 1px 1px 2px rgba(c.$color-secondary, 0.3);
                }
            }
        }
    }
}