@use '../variables/colors' as c;
@use '../variables/dimensions' as d;
@use 'sass:color';

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: c.$color_footer_bg;
    min-height: d.$footer-height-desktop;
    overflow: hidden;

    a {
        color: c.$color-footer-text;
        text-decoration: none;
    }

    position: relative;

    // Tappering line
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 70%;
        border-bottom: 0.5px solid color.scale(c.$color-text, $alpha: -70%);
        $taper: 150px;
        border-left: $taper solid transparent;
        border-right: $taper solid transparent;

    }
}


.footer__row1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 2rem; */
    text-align: center;
    background-color: c.$color_footer_bg;
    height: auto;

    &>* {
        min-width: 30%;
    }

    a {
        color: c.$color-footer-text;
        text-decoration: none;

        i {
            padding-right: 5px;
        }

        &:hover i {
            color: color.mix(c.$color-primary, black, 50%);
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }

        &:active i {
            color: c.$color-primary;
            transform: scale(0.9);
            transition: all 0.05s ease-in-out;
        }
    }

    .external-link__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;
    }
}

.footer__row2 {
    background-color: c.$color_footer_bg;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright {
        font-size: 0.8rem;
        opacity: 0.45;
    }
}



@media screen and (max-width: d.$mobile-screen-width-threshold) {
    footer {
        padding: 2px;
    }

    .footer__row1>a {
        display: none;
    }

    .footer__row2 .copyright {
        font-size: 0.6rem;

    }
}